// Define the variables
$firstColor: #121481 !important;
$secondColor: #FFEAE3 !important;
$thirdColor: #FFCBCB !important;
$fourthColor: #FFB1B1 !important;
$fourthColor: #FFB1B1 !important;

// Use the variables in your styles
.bg-light {
  background-color: $firstColor;
  color: $secondColor;
}

.navbar-brand, .nav-link {
  color: white !important;
}

.bg-primary,.btn-primary {
  background-color: $firstColor;
  color: white !important;
}

.text-primary{
    color: $firstColor;
}